.conteinter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.input {
  display: block;
  font-size: 1.5em;
  padding: .4em .2em;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: .5em 0;
  font-weight: 200;
  &:focus {
    outline:none;
    border-color: #186ed1;
  }
}