.conteiner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modal {
  margin: auto;
  background-color: white;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1.25em;
  border-radius: 7px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: .5em;

  h3 {
    margin: 0;
  }

  span {
    font-size: 1.2em;
    color: black;
    cursor: pointer;
    font-weight: 600;
  }
}